<!doctype html>
<html lang="en">
   <head>
      <title>Электронная очередь (форма регистрации)</title>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css' ) }}" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
   </head>
   <body>
      <div class="container-fluid" style="background: transparent">
      <div class="row align-center">
         <div class="col">
            <div class="login d-flex align-items-center py-5">
               <div class="container form-special">
                  <div class="row">
                     <div class="col-md-9 col-lg-8 mx-auto">
                        <h3 class="login-heading mb-4">Форма регистрации в системе "Электронная очередь"</h3>
                        <form method="post" action="/register">
                           <div class="form-label-group">
                              <input name="fullname" type="text" id="fullname" class="form-control" placeholder="Иванов Иван Иванович" required autofocus>
                              <label for="fullname">Введите fullname (Например: Иванов Иван Иванович)</label>
                           </div>
                           <div class="form-label-group">
                              <select class="form-control" id="typeSelect" name="type" required>
                                 <option selected>Слушатель</option>
                                 <option>Преподаватель</option>
                              </select>
                           </div>
                           <div class="form-label-group">
                              <input name="login" type="login" id="inputEmail" class="form-control" placeholder="login" required>
                              <label for="inputEmail">Введите логин</label>
                           </div>
                           <div class="form-label-group">
                              <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                              <label for="inputPassword">Введите пароль</label>
                           </div>
                           <div class="form-label-group">
                              <input name="group" type="text" id="inputGroup" class="form-control" placeholder="group" required>
                              <label for="inputGroup">Введите номер группы(если вы слушатель) или номер кафедры(если вы преподаватель)</label>
                           </div>
                           <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Зарегистрироваться</button>
                           
                        </form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="{{ url_for('static', filename='js/jquery-3.3.1.slim.min.js') }}" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="{{ url_for('static', filename='js/popper.min.js') }}" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
   </body>
</html>